In [1]:
import os
import pandas as pd

#### Merge data from each month into one CSV

In [2]:
df = pd.read_csv("D:\\data analystics\\Python for data analytics\\Sales Analysis\\SalesAnalysis\\Sales_Data\\Sales_April_2019.csv")

files = [file for file in os.listdir("D:\\data analystics\\Python for data analytics\\Sales Analysis\\SalesAnalysis\\Sales_Data")]
all_months_data = pd.DataFrame()
for file in files:
    df = pd.read_csv("D:\\data analystics\\Python for data analytics\\Sales Analysis\\SalesAnalysis\\Sales_Data\\"+file)
    all_months_data = pd.concat([all_months_data,df])
    
all_months_data.to_csv("all_data.csv",index=False)

#### Read in updated dataframe

In [3]:
all_data = pd.read_csv("all_data.csv")
all_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,4/19/2019 8:46,"917 1st St, Dallas, TX 75001"
1,176559,Bose SoundSport Headphones,1,99.99,4/7/2019 22:30,"682 Chestnut St, Boston, MA 02215"
2,176560,Google Phone,1,600,4/12/2019 14:38,"669 Spruce St, Los Angeles, CA 90001"
3,176560,Wired Headphones,1,11.99,4/12/2019 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176561,Wired Headphones,1,11.99,4/30/2019 9:27,"333 8th St, Los Angeles, CA 90001"

### Augment data with additional columns

#### Add month column

In [5]:
all_data["Month"] = all_data["Order Date"].str[0:1]
all_data["Month"] = all_data["Month"].astype()
all_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month
0,176558,USB-C Charging Cable,2,11.95,4/19/2019 8:46,"917 1st St, Dallas, TX 75001",4
1,176559,Bose SoundSport Headphones,1,99.99,4/7/2019 22:30,"682 Chestnut St, Boston, MA 02215",4
2,176560,Google Phone,1,600,4/12/2019 14:38,"669 Spruce St, Los Angeles, CA 90001",4
3,176560,Wired Headphones,1,11.99,4/12/2019 14:38,"669 Spruce St, Los Angeles, CA 90001",4
4,176561,Wired Headphones,1,11.99,4/30/2019 9:27,"333 8th St, Los Angeles, CA 90001",4